STORJ_API_KEY='replace-with-your-key'
STORJ_SATELLITE_ADDRESS='12EayRS2V1kEsWESU9QMRseFhdxYxKicsiFmxrsLZHeLUtdps3S@us1.storj.io:7777'
STORJ_SATELLITE_CONFIGS='us1,eu1'
STORJ_SATELLITE_US1_ADDRESS='12EayRS2V1kEsWESU9QMRseFhdxYxKicsiFmxrsLZHeLUtdps3S@us1.storj.io:7777'
STORJ_SATELLITE_US1_API_KEY='replace-with-us1-api-key'
STORJ_SATELLITE_EU1_ADDRESS='12L9ZFwhzVpuEKMUNUqkaTLGzwY9G24tbiigLiXpmZWKwmcNDDs@eu1.storj.io:7777'
STORJ_SATELLITE_EU1_API_KEY='replace-with-eu1-api-key'
STORJ_BUCKET='replace-with-your-existing-bucket'
STORJ_OBJECT_KEY='probe'
STORJ_DB_PATH='nodes.db'
STORJ_API_LISTEN_ADDR='127.0.0.1:8080'
STORJ_UPDATE_EVERY='10s'
STORJ_API_PASSWORD=''
